/* GLOBAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 100%;
  height: calc(100vh - 90px);
}

body{
  font-family: 'Montserrat', sans-serif;
}

nav{
  float: left;
  width: 250px;
  height: 100%;
  background-color: black;
  color: #747474;
  padding: 15px;
  font-weight: 600;
  overflow: hidden;
}

.top-nav{
  overflow: hidden;
  min-height: 400px;
}

main{
  float: left;
  width: calc(100% - 250px);
  height: 100%;
  background-color: #141922;
  color: white;
  overflow: auto;
  padding: 0px 0 20px 20px;
}

.song-bar{
  display: block;
  width: 100%;
  height: 90px;
  background-color: #282828;
}

ul li{
  list-style: none;
}

ul li a{
  color: #747474;
  text-decoration: none;
}

.title-area{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.title-area.second{
  margin-bottom: 10px;
}

.under-title{
  font-size: 14px;
  color: #7c7d82;
  padding-bottom: 30px;
  font-weight: 600;
}
/* //GLOBAL */

/* NAV */
.top-nav{
  width: 100%;
  height: calc(100% - 90px);
}

.bottom-nav{
  width: 100%;
  height: 90px;
}

#logo{
  width: 160px;
  padding-bottom: 20px;
}

.nav-list{
  padding-bottom: 20px;
}

.nav-list ul li, .playlist-list ul li{
  padding: 7px 0;
}

.playlist{
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

.playlist ul li{
  padding: 10px 0;
  font-size: 14px;
}

.playlist-list h3{
  padding-bottom: 10px;
  color: white;
}

.bottom-nav p{
  padding: 5px 0;
}

.user{
  padding: 10px 0;
}

.logo-user{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #808080;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 10px;
}

.center-logo-user{
  width: 100%;
}

.user span{
  color: white;
}

.icon-nav, #logo-small{
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

#logo-small{
  display: none;
}

#logo-small img{
  width: 100%;
}

svg{
  width: 100%;
  color: #747474;
}

.active{
  color: white;
}

.icon-nav.new{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #a3a3a3;
  margin-right: 10px;
  vertical-align: middle;
}

.center-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.new i{
  font-size: 30px;
  color: black;
}

.playlist{
  padding-top: 15px;
  overflow: auto;
  min-height: 400px;
}

.scroll-nav{
  height: 32vh;
  min-height: 120px;
}

.install-app{
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.install-app i{
  padding-right: 5px;
}

.icon-nav.green{
  width: 2px;
  height: 30px;
  background-color: #bcff30;
  margin-left: -15px;
}

.icon-nav.home{
  margin-left: 8px;
}

.new-playlist:hover .new{
  background-color: white;
} 
/* //NAV */

/* MAIN */
.top-overlay{
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 99;
  width: calc(100% - 250px);
  height: 100px;
  background-color: rgba(0,0,0,0.3);
  margin-left: -20px;
  padding-right: 20px;
}

.button-container{
  transition: all 1s;
}

.button-container:hover{
  transform: scale(1.1);
  padding-right: 20px;
}

.button-upgrade{
  font-size: 15px;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
}

.main-list{
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-list ul{
  display: flex;
  justify-content: center;
  margin-top: 120px;
  flex-wrap: wrap;
  width: 800px;
}

.main-list ul li{
  font-size: 15px;
  padding: 5px 15px;
  font-weight: 800;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.row.first{
  justify-content: flex-start;

}

.box{
  width: 15.5%;
  margin-right: 10px;
}

.box-img{
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.box-img img{
  width: 100%;
}

.box-text{
  text-align: center;
}

.box-text h3{
  padding-bottom: 10px;
  font-size: 14px;
}

.box-text p{
  color: #7c7d82;
  font-size: 12px;
}

.round-img{
  border-radius: 50%;
}

.overley-box{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 98;
  transition: background-color 3s;
}

.box-img:hover .overley-box{
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overley-box.round-overley{
  border-radius: 50%;
}

.overley-box i{
  font-size: 55px;
}

.main-list ul li:first-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.green-bar{
  width: 37px;
  height: 2px;
  background-color: #bcff30;
  border-radius: 10px;
  margin-top: 3px;
}

.main-list ul li a:hover, .nav-list ul li a:hover, .new-playlist:hover, .playlist ul li a:hover, .install-app:hover, .song-description p:hover, .icon-left-sb i:hover{
  color: white;
}
/* //MAIN */

/* SONG BAR */
.song-bar{
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
}

.left-sb, .center-sb, .right-sb, .time-song{
  display: flex;
  align-items: center;
}

.left-sb, .right-sb{
  flex-shrink: 2;
  width: 300px;
}

.left-sb{
  width: 238px;
}

.right-sb{
  width: 171px;
}

.center-sb{
  flex-shrink: 1;
}

.song-img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.song-img img{
  width: 100%;
}

.song-description{
  margin-right: 50px;
}

.song-description p{
  font-size: 12px;
  color: #7c7d82;
  font-weight: 600;
}

.icon-left-sb i, .icon-right-sb i{
  color: #7c7d82;
  padding-right: 10px;
  font-size: 13px;
}

.icon-right-sb i{
  color: white;
}

.song-volume, .volume-active{
  width: 90px;
  height: 4px;
  background-color: #7c7d82;
  border-radius: 5px;
}

.volume-active{
  width: 30px;
  background-color: white;
  position: relative;
}

.time-song span{
  font-weight: 600;
  font-size: 11px;
}

.time{
  margin: 0 25px;
}

.time, .time-active{
  width: 650px;
  height: 4px;
  background-color: #7c7d82;
  border-radius: 5px;
}

.time-active{
  width: 100px;
  background-color: white;
  position: relative;
}

.round-bar{
  display: none;
  position: absolute;
  top: -3px;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.time-active:hover .round-bar, .volume-active:hover .round-bar{
  display: block;
}

.center-sb{
  flex-direction: column;
}

.button-center-sb{
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.button-center-sb i{
  padding: 0 20px;
}

.fa-play-circle{
  font-size: 35px;
}

.time-song{
  width: 34vw;
}

.song-description p:hover{
  text-decoration: underline;
}

.time-active:hover, .volume-active:hover{
  background-color: #bcff30;
}

.fa-play-circle.scale{
  transition: all 1s;
}

.fa-play-circle.scale:hover{
  transform: scale(1.1);
}
/* //SONG BAR */

/* MEDIA QUERY */
/* LARGE VERSION 1199px - 992 */
@media screen and (max-width: 1199px){
  .main-list ul li{
    padding: 10px 6px;
  }

  .main-list ul{
    width: 680px;
  }

  .row{
    padding-bottom: 15.4px;
  }
  
  .box{
    width: 15.1%;
    margin-right: 9px;
    margin-bottom: 8px;
  }
  
  .box-img{
    margin-bottom: 10px;
  }
}
/* //LARGE VERSION 1199px - 992px */

/* MEDIUM VERSION 991px - 768px */
@media screen and (max-width: 991px){
  .main-list ul li{
    padding: 5px 13px;
  }

  .main-list ul{
    width: 667px;
  }

  .row{
    padding-bottom: 15px;
  }
  
  .box{
    width: 23.1%;
    margin-right: 9px;
    margin-bottom: 8px;
  }
  
  .box-img{
    margin-bottom: 10px;
  }
}
/* //MEDIUM VERSION 1199px - 768px */

/* SMALL VERSION 767px - 576px */
@media screen and (max-width: 767px){
  .main-list ul li{
    padding: 10px 13px;
  }

  .row{
    padding-bottom: 15px;
  }
  
  .box{
    width: 45.5%;
    margin-right: 13px;
    margin-bottom: 5px;
  }

  .icon-left-sb{
    display: flex;
    flex-direction: column;
  }

  .icon-left-sb i, .icon-right-sb i{
    padding-right: 0;
    padding-bottom: 4px;
  }

  .icon-right-sb i{
    padding-right: 4px;
  }

  .button-center-sb i{
    padding: 0 11px;
  }

  .song-description{
    margin-right: 25px;
  }

  .right-sb{
    width: 128px;
  }

  .song-volume{
    width: 65px;
  }
  
  .volume-active{
    width: 20px;
  }
}
/* //SMALL VERSION 767px - 576px */

/* EXTRA-SMALL VERSION <576px */
@media screen and (max-width: 575px){
  nav{
    width: 50px;
    padding: 10px;
  }

  #logo-small{
    display: inline-block;
    margin-bottom: 10px;
  }

  .install-app i{
    padding-left: 5px;
  }

  main{
    width: calc(100% - 50px);
  }

  .top-overlay{
    width: calc(100% - 50px);
  }

  #logo, .nav-list ul li a, .playlist-list, .install-app span, .icon-nav.green, .user span{
    display: none;
  }

  .install-app{
    border-bottom: none;
  }

  .icon-nav.home{
    margin-left: 0;
  }

  .main-list ul{
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-list ul li{
    font-size: 14px;
    padding: 10px 10px;
  }

  .row{
    padding-bottom: 15px;
  }
  
  .box{
    width: 46.6%;
  }

  .song-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
  }

  .song-img img{
    width: 100%;
  }
}
/* //EXTRA-SMALL VERSION <576px */
/* //MEDIA QUERY */


